archiviert/umsetzungsideen:-telegram-→-notion-.json
{
  "name": "Archiviert/Umsetzungsideen: Telegram → Notion",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "6c82e5f0-fc90-4906-aab6-e9fc5337b39c",
      "name": "Neue Nachricht",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ],
      "webhookId": "ddef5754-f1a3-4c27-b027-ae74e914cf74"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "voice-check",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7282808-7bc4-412f-a373-de4045df2682",
      "name": "Sprache oder Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "575fbc4a-9d78-4dab-9d24-9671ee054a85",
      "name": "Audio herunterladen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        144
      ],
      "webhookId": "09a1ca06-4385-4cb9-bf6c-dc6a9d2d296d"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "de"
        }
      },
      "id": "3f516a55-0efd-4584-b430-3a4dabf2ee3b",
      "name": "Sprache transkribieren",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        960,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "0UFK9tCWJOICVBHf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fv",
              "name": "fullText",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "cv",
              "name": "chatId",
              "value": "={{ $('Neue Nachricht').item.json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "99f56deb-1e5d-4e8f-bb03-7247b3401004",
      "name": "Transkription normalisieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        144
      ]
    },
    {
      "parameters": {},
      "id": "39540902-de34-4303-92c1-990fea27ad0d",
      "name": "Texte zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ft",
              "name": "fullText",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "ct",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "4532d0be-41e2-4a37-a5c2-88b7869514e2",
      "name": "Textnachricht normalisieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        464
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Du bist ein Assistent fuer HR Immobilien. Fasse die folgende Idee in 1-2 Saetzen auf Deutsch zusammen. Nur die Zusammenfassung, ohne Praefix."
            },
            {
              "content": "={{ $json.fullText }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "408ed328-75a9-4935-b6b4-31675aece6a5",
      "name": "Zusammenfassung erstellen",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1616,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "0UFK9tCWJOICVBHf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "IHRE_NOTION_DATENBANK_ID"
        },
        "title": "={{ $('Texte zusammenführen').item.json.fullText }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "KI-generierte Zusammenfassung|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.output }}"
            },
            {
              "key": "Status|status",
              "type": "status",
              "statusValue": "Neue Idee"
            }
          ]
        },
        "options": {}
      },
      "id": "4b817568-6ffd-4ff1-ac6c-30d9ae471554",
      "name": "Idee in Notion speichern",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1920,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Texte zusammenführen').item.json.chatId }}",
        "text": "=Idee gespeichert! {{ $('Zusammenfassung erstellen').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "e268e0cf-c8b4-41e2-b859-cd18fd60e2e3",
      "name": "Bestätigung senden",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        304
      ],
      "webhookId": "d97f60ab-572d-40a2-afe4-a9464d9df43f"
    }
  ],
  "connections": {
    "Neue Nachricht": {
      "main": [
        [
          {
            "node": "Sprache oder Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprache oder Text?": {
      "main": [
        [
          {
            "node": "Audio herunterladen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Textnachricht normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio herunterladen": {
      "main": [
        [
          {
            "node": "Sprache transkribieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprache transkribieren": {
      "main": [
        [
          {
            "node": "Transkription normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkription normalisieren": {
      "main": [
        [
          {
            "node": "Texte zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texte zusammenführen": {
      "main": [
        [
          {
            "node": "Zusammenfassung erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Textnachricht normalisieren": {
      "main": [
        [
          {
            "node": "Texte zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Zusammenfassung erstellen": {
      "main": [
        [
          {
            "node": "Idee in Notion speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idee in Notion speichern": {
      "main": [
        [
          {
            "node": "Bestätigung senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "tags": [],
  "__backupMeta": {
    "archived": true,
    "active": false,
    "workflowId": "pM1sWjiVCdz4Em4Y"
  }
}