automated-daily-workflow-backup-to-github-Administration.json
{
  "name": "Automated daily workflow backup to GitHub",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "c83ffef6-9fea-4c0c-bb70-276d21a31a60",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        32,
        128
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "d582886f-5b92-4a1c-ab23-68ca67f3b70d",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        784,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "HR-Immo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-self-hosted",
          "mode": "list",
          "cachedResultName": "n8n-backup-self-hosted",
          "cachedResultUrl": "https://github.com/HR-Immo/n8n-backup-self-hosted"
        },
        "filePath": "="
      },
      "id": "41c5086c-7937-46e6-91cc-9add2b0b32cc",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        208,
        64
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "QoCFh84k1y3oa2QL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "HR-Immo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-self-hosted",
          "mode": "list",
          "cachedResultName": "n8n-backup-self-hosted",
          "cachedResultUrl": "https://github.com/HR-Immo/n8n-backup-self-hosted"
        },
        "filePath": "={{ $('Code in JavaScript').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Code in JavaScript').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "f466aac0-50a7-4f73-a86a-d7f222c3f9dc",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        2032,
        48
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "QoCFh84k1y3oa2QL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "HR-Immo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-self-hosted",
          "mode": "list",
          "cachedResultName": "n8n-backup-self-hosted",
          "cachedResultUrl": "https://github.com/HR-Immo/n8n-backup-self-hosted"
        },
        "filePath": "={{ $('Code in JavaScript').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Code in JavaScript').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "0853b306-d7ab-4be6-91d9-04d289de50ba",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        2032,
        208
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "QoCFh84k1y3oa2QL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "6b4eeded-35b2-4fcc-bf5d-2cb3e37a80ed",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1328,
        128
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "4546da00-bb83-418b-a227-55c0c36f1bfc",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1488,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 924,
        "color": 5
      },
      "id": "11971cc7-8723-478c-a64a-5fedc955711a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Code in JavaScript').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Code in JavaScript').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "957bb960-3f53-444d-a584-476677d3c225",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1680,
        128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 684,
        "color": 3
      },
      "id": "979d649b-0876-45ed-9b85-6e1c08e5a1e7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 588,
        "color": 4
      },
      "id": "44b11666-570f-4509-86ed-30a31b463e69",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://n8n.hoewer-roth-immobilien.de/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        128
      ],
      "id": "014ad5fc-fa0c-436b-b77f-24a453facdb0",
      "name": "Retrieve workflows",
      "credentials": {
        "n8nApi": {
          "id": "00fSEH7hxMawsVzn",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Prepare workflows for backup\n * - keep all workflows (incl. archived)\n * - ONLY: prefix workflow name with \"Archiviert/\" if archived\n * - keep tags untouched\n * - output directly importable n8n workflow JSON\n */\n\nconst workflows = $json.data ?? [];\n\nreturn workflows.map((wf) => {\n  const isArchived = wf.isArchived === true;\n\n  return {\n    json: {\n      // ✅ ONLY change requested: prefix name when archived\n      name: isArchived ? `Archiviert/${wf.name}` : wf.name,\n\n      // import-relevant fields\n      nodes: wf.nodes ?? [],\n      connections: wf.connections ?? {},\n      settings: wf.settings ?? { executionOrder: 'v1' },\n\n      // optional but valid\n      pinData: wf.pinData ?? undefined,\n      staticData: wf.staticData ?? null,\n      meta: wf.meta ?? {},\n\n      // keep tags (used later for filename)\n      tags: wf.tags ?? [],\n\n      // keep useful info (optional)\n      __backupMeta: {\n        archived: isArchived,\n        active: wf.active === true,\n        workflowId: wf.id,\n      },\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        128
      ],
      "id": "29fe2f5f-e0f4-48c4-ae2b-cc28e0c81ad6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "HR-Immo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-self-hosted",
          "mode": "list",
          "cachedResultName": "n8n-backup-self-hosted",
          "cachedResultUrl": "https://github.com/HR-Immo/n8n-backup-self-hosted"
        },
        "filePath": "=/archiviert"
      },
      "id": "3e40ea37-3b4e-40d2-a5c4-1a1c0b02a446",
      "name": "List files from repo1",
      "type": "n8n-nodes-base.github",
      "position": [
        208,
        192
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "QoCFh84k1y3oa2QL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        128
      ],
      "id": "f767505b-f896-4acc-a712-09f0d254bce8",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef0791e4-d606-4b40-bec8-c1148de42e52",
              "name": "name",
              "value": "={{ $json.path }}",
              "type": "string"
            },
            {
              "id": "4b0e68bd-6034-4aa8-8296-bdb685064fd1",
              "name": "path",
              "value": "={{ $json.path }}",
              "type": "string"
            },
            {
              "id": "ad4b3ee9-6513-4911-bc95-250948840157",
              "name": "sha",
              "value": "={{ $json.sha }}",
              "type": "string"
            },
            {
              "id": "a23ec1ef-eced-4874-9146-765c0b20eb07",
              "name": "size",
              "value": "={{ $json.size }}",
              "type": "number"
            },
            {
              "id": "e88eea2e-b9bc-47fa-a53b-52848b85229e",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "c6c5999b-d84d-4ef4-9fdc-6cd48fe6c42b",
              "name": "html_url",
              "value": "={{ $json.html_url }}",
              "type": "string"
            },
            {
              "id": "de648b86-5c68-4844-9014-54af87e23972",
              "name": "git_url",
              "value": "={{ $json.git_url }}",
              "type": "string"
            },
            {
              "id": "520aa248-db9a-4e46-8974-ca9f2a431fc0",
              "name": "download_url",
              "value": "={{ $json.download_url }}",
              "type": "string"
            },
            {
              "id": "3f54985d-1e16-4d36-8279-2daca199e99c",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "7f12bd55-9cf8-4955-874a-cb52d7475c7d",
              "name": "_links",
              "value": "={{ $json._links }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        192
      ],
      "id": "5b6d8ae4-3e1e-49b3-a2a6-e6e8e30fd742",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Code in JavaScript').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Code in JavaScript').item.json.tags[0].name }}.json"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "81641bb7-c38d-43db-ad87-40ce598802d3",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1856,
        128
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files from repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "UOTTrHniJeBc7Vgx",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true
  },
  "tags": [
    {
      "updatedAt": "2026-03-13T16:58:22.838Z",
      "createdAt": "2026-03-13T16:58:22.838Z",
      "id": "O0h5fhHhihgPLwt9",
      "name": "Administration"
    }
  ],
  "__backupMeta": {
    "archived": false,
    "active": false,
    "workflowId": "UQl0Rw7TLaYtGeEg"
  }
}