automated-daily-workflow-backup-to-github-Administration.json
{
  "name": "Automated daily workflow backup to GitHub",
  "nodes": [
    {
      "id": "fa881e75-fa5d-4033-b2e6-a9a519d3fe03",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        128
      ],
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      }
    },
    {
      "id": "b8f7031e-fd36-403e-919a-7903c0c97785",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        208,
        64
      ],
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "HR-Immo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Backup-self-hosted",
          "mode": "list",
          "cachedResultName": "n8n-Backup-self-hosted",
          "cachedResultUrl": "https://github.com/HR-Immo/n8n-Backup-self-hosted"
        },
        "filePath": "="
      },
      "credentials": {
        "githubApi": {
          "id": "QoCFh84k1y3oa2QL",
          "name": "GitHub account"
        }
      },
      "alwaysOutputData": true,
      "webhookId": "02d0a90f-99f9-4b1b-859d-cddf6ee04475"
    },
    {
      "id": "844f6165-353c-4f89-b0fc-2c0d18235fd3",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        128
      ],
      "parameters": {}
    },
    {
      "id": "7fe59392-bdd2-49e2-8df2-17e6d372ec13",
      "name": "List files from repo1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "HR-Immo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Backup-self-hosted",
          "mode": "list",
          "cachedResultName": "n8n-Backup-self-hosted",
          "cachedResultUrl": "https://github.com/HR-Immo/n8n-Backup-self-hosted"
        },
        "filePath": "=/archiviert"
      },
      "credentials": {
        "githubApi": {
          "id": "QoCFh84k1y3oa2QL",
          "name": "GitHub account"
        }
      },
      "alwaysOutputData": true,
      "webhookId": "e109a86d-d69f-4875-aec3-3ce292e16dce"
    },
    {
      "id": "4f7294b4-deb3-41d2-a4e0-7e37e22614e2",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        192
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef0791e4-d606-4b40-bec8-c1148de42e52",
              "name": "name",
              "value": "={{ $json.path }}",
              "type": "string"
            },
            {
              "id": "4b0e68bd-6034-4aa8-8296-bdb685064fd1",
              "name": "path",
              "value": "={{ $json.path }}",
              "type": "string"
            },
            {
              "id": "ad4b3ee9-6513-4911-bc95-250948840157",
              "name": "sha",
              "value": "={{ $json.sha }}",
              "type": "string"
            },
            {
              "id": "a23ec1ef-eced-4874-9146-765c0b20eb07",
              "name": "size",
              "value": "={{ $json.size }}",
              "type": "number"
            },
            {
              "id": "e88eea2e-b9bc-47fa-a53b-52848b85229e",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "c6c5999b-d84d-4ef4-9fdc-6cd48fe6c42b",
              "name": "html_url",
              "value": "={{ $json.html_url }}",
              "type": "string"
            },
            {
              "id": "de648b86-5c68-4844-9014-54af87e23972",
              "name": "git_url",
              "value": "={{ $json.git_url }}",
              "type": "string"
            },
            {
              "id": "520aa248-db9a-4e46-8974-ca9f2a431fc0",
              "name": "download_url",
              "value": "={{ $json.download_url }}",
              "type": "string"
            },
            {
              "id": "3f54985d-1e16-4d36-8279-2daca199e99c",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "7f12bd55-9cf8-4955-874a-cb52d7475c7d",
              "name": "_links",
              "value": "={{ $json._links }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "fced72e2-039d-427b-b414-5542aec644d5",
      "name": "Build file index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        128
      ],
      "parameters": {
        "jsCode": "// Build lookup map { filename: sha } from all GitHub repo files.\n// Root files: name = filename only (e.g. \"my-workflow-tag.json\")\n// Archiviert files: name was mapped to path by Edit Fields (e.g. \"archiviert/my-workflow-tag.json\")\nconst files = $input.all();\nconst fileIndex = {};\nfor (const item of files) {\n  const name = item.json.name;\n  const sha = item.json.sha;\n  if (name && sha) {\n    fileIndex[name] = sha;\n  }\n}\nreturn [{ json: { fileIndex } }];"
      }
    },
    {
      "id": "c1a0e279-3aa7-4cc1-b8e4-28b5dddfb829",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        128
      ],
      "parameters": {
        "url": "https://n8n.hoewer-roth-immobilien.de/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "00fSEH7hxMawsVzn",
          "name": "n8n account"
        }
      }
    },
    {
      "id": "661c291f-d674-4035-9516-07edef784dc0",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        128
      ],
      "parameters": {
        "jsCode": "const workflows = $json.data ?? [];\n\nreturn workflows.map((wf) => {\n  const isArchived = wf.isArchived === true;\n\n  return {\n    json: {\n      name: isArchived ? `Archiviert/${wf.name}` : wf.name,\n      nodes: wf.nodes ?? [],\n      connections: wf.connections ?? {},\n      settings: wf.settings ?? { executionOrder: 'v1' },\n      pinData: wf.pinData ?? undefined,\n      staticData: wf.staticData ?? null,\n      meta: wf.meta ?? {},\n      tags: wf.tags ?? [],\n      __backupMeta: {\n        archived: isArchived,\n        active: wf.active === true,\n        workflowId: wf.id,\n      },\n    },\n  };\n});"
      }
    },
    {
      "id": "99b4c864-7ca4-45ca-b7ca-ea873ea43b8f",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        128
      ],
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      }
    },
    {
      "id": "8fe0442d-6213-42f1-b4e7-87558e728482",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1488,
        128
      ],
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      }
    },
    {
      "id": "69ddc052-2090-4bdc-ae39-9cf4b3592cbd",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        128
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Code in JavaScript').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Code in JavaScript').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3866df3-ce4b-4a85-9bea-ddf7304fc120",
      "name": "Lookup file",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        128
      ],
      "parameters": {
        "jsCode": "// Verarbeitet alle Items und prueft fuer jedes ob die Backup-Datei in GitHub existiert.\n// $input.all() statt $input.item, damit alle N Workflows erhalten bleiben.\nconst fileIndex = $('Build file index').first().json.fileIndex ?? {};\nconst results = [];\n\nfor (const item of $input.all()) {\n  const fileName = item.json.fileName;\n  const sha = fileIndex[fileName] ?? null;\n\n  results.push({\n    json: {\n      ...item.json,\n      sha,\n      fileExists: sha !== null,\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "14696fc0-071a-4401-8ba4-13cec3d4fe89",
      "name": "Route: create or update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2064,
        128
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fileexists-check",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "66050408-3a9e-4a9a-98ae-c9ed7ff3fd07",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2272,
        48
      ],
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "HR-Immo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Backup-self-hosted",
          "mode": "list",
          "cachedResultName": "n8n-Backup-self-hosted",
          "cachedResultUrl": "https://github.com/HR-Immo/n8n-Backup-self-hosted"
        },
        "filePath": "={{ $('Code in JavaScript').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Code in JavaScript').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "credentials": {
        "githubApi": {
          "id": "QoCFh84k1y3oa2QL",
          "name": "GitHub account"
        }
      },
      "webhookId": "d9e74849-304f-454b-90d9-924c0247ebad"
    },
    {
      "id": "0d49b8ff-93da-4f14-9281-7d5c5a6b138d",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2272,
        208
      ],
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "HR-Immo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Backup-self-hosted",
          "mode": "list",
          "cachedResultName": "n8n-Backup-self-hosted",
          "cachedResultUrl": "https://github.com/HR-Immo/n8n-Backup-self-hosted"
        },
        "filePath": "={{ $('Code in JavaScript').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Code in JavaScript').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "credentials": {
        "githubApi": {
          "id": "QoCFh84k1y3oa2QL",
          "name": "GitHub account"
        }
      },
      "webhookId": "ce958dad-87eb-4150-97cb-d3d0a7bb9565"
    },
    {
      "id": "270d55fd-26ce-4b0c-bac5-1e9d09da4203",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 924,
        "color": 5
      }
    },
    {
      "id": "5536bdd5-a2b6-4359-a519-c36d05f23266",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        0
      ],
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 684,
        "color": 3
      }
    },
    {
      "id": "70a15962-8797-4965-928b-a9bd6b55e291",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        0
      ],
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 876,
        "color": 4
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files from repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build file index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build file index": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Lookup file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup file": {
      "main": [
        [
          {
            "node": "Route: create or update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: create or update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "errorWorkflow": "UOTTrHniJeBc7Vgx",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true
  },
  "tags": [
    {
      "updatedAt": "2026-03-13T16:58:22.838Z",
      "createdAt": "2026-03-13T16:58:22.838Z",
      "id": "O0h5fhHhihgPLwt9",
      "name": "Administration"
    }
  ],
  "__backupMeta": {
    "archived": false,
    "active": true,
    "workflowId": "UQl0Rw7TLaYtGeEg"
  }
}